.settings-page {
  width: 100%;
}

.settings-content {
  padding: 5px 30px;
}

.settings-content h1  {
  font-size: 28px;
  color: #003366; /* Dark blue for branding */
  font-weight: 600;
}

.tabs {
  display: flex;
  margin-bottom: 20px;
}

.tab {
  background-color: #f0f4f7;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  margin-right: 10px;
  font-weight: bold;
  color: #333;
  width: 15%;
}

.tab.active {
  background-color: #004085;
  font-weight: bold;
}

.add-user-page {
  background-color: white;
  padding: 20px;
}

.back-arrow-button {
  background-color: white;
  border: 1px solid #e0e0e0;
  border-radius: 10%;
  padding: 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}

.header-left {
  display: flex;
  align-items: center;
}

.form-container {
  display: flex;
  flex-direction: column;
}

.form-group {
  display: grid;
  grid-template-columns: 1fr 2fr; /* Labels take 1/3 and inputs take 2/3 */
  align-items: center;
  margin-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #ccc;
}

.form-group label {
  font-weight: bold;
  margin-bottom: 0;
  color: #004085;
  align-self: flex-start;
}

.input-container {
  display: flex;
  flex-direction: column;
  align-self: center;
}

.input-container input {
  width: 97%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.input-container small {
  margin-top: 5px;
  color: #999;
  font-size: 12px;
}

.password-requirements {
  list-style-type: none;
  padding: 0;
  margin: 10px 0 0;
  font-size: 12px;
}

.password-requirements li {
  color: #999;
}

.password-requirements .valid {
  color: #28a745; /* Green for valid */
}

.error {
  color: red;
  font-size: 14px;
  margin-top: 10px;
}

.form-actions {
  display: flex;
  justify-content: flex-end;
}

.cancel-btn, .submit-btn {
  padding: 10px 20px;
  margin-left: 10px;
  border-radius: 4px;
  cursor: pointer;
}

.cancel-btn {
  background-color: white;
  color: #002d72;
  border: 1px solid #002d72;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  width: 15%;
  margin-top: 10px;
}

.submit-btn {
  background-color: #002d72;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  width: 15%;
  margin-top: 10px;
}

.submit-btn:disabled {
  background-color: #aaa;
  cursor: not-allowed;
}

.submit-btn:hover:not(:disabled) {
  background-color: #004494;
}