.loading-dots {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.loading-icon {
  font-size: 30px; /* You can adjust the size */
  animation: pulse 1.5s infinite ease-in-out;
  color: #0078d4; /* Initial color */
}

@keyframes pulse {
  0% {
    transform: scale(1);
    color: #0078d4;
  }
  50% {
    transform: scale(1.2);
    color: #005bb5; /* Change the color */
  }
  100% {
    transform: scale(1);
    color: #0078d4;
  }
}
