/* General Settings Page Styling */
.settings-page {
  width: 100%;
}

.settings-content {
  padding: 5px 30px;
}

.settings-content h1  {
  font-size: 28px;
  color: #003366; /* Dark blue for branding */
  font-weight: 600;
}

.tabs {
  display: flex;
  margin-bottom: 20px;
}

.tab {
  background-color: #f0f4f7;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  margin-right: 10px;
  font-weight: bold;
  color: #333;
  width: 15%;
}

.tab.active {
  background-color: #004085;
  color: white;
}

.users-table {
  background-color: white;
  padding: 20px;
  overflow-x: auto;
}

.my-info {
  padding: 20px;;
}

.users-table .table-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.users-table .table-header h3 {
  font-size: 20px;
  margin: 0;
}

.header-left {
  display: flex;
  align-items: center;
}

.back-arrow-button {
  background-color: white;
  border: 1px solid #e0e0e0;
  border-radius: 10%;
  padding: 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}

.back-arrow {
  cursor: pointer;
  font-size: 18px;
  color: #002d72;
  border: gray;
}

.add-user {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #002d72;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  width: 15%;
}

.add-user .user-icon {
  margin-right: 8px; /* Spacing between icon and text */
  font-size: 18px;   /* Icon size */
}

.add-user:hover {
  background-color: #0056b3;
}


.search-bar {
  position: relative;
  width: 100%;
  padding-bottom: 10px;
  display: flex;
  align-items: center; /* Vertically center content */
}

.search-bar input {
  width: 50%;
  padding: 10px;
  padding-left: 40px; /* Increased padding for icon space */
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box; /* Ensure padding doesn't mess with the size */
}

.search-icon {
  position: absolute;
  left: 15px; /* Space between the icon and the input field */
  font-size: 18px;
  color: #666;
}
.input-container {
  align-self: flex-start;
}
.input-container h3 {
  font-size: 12px;
  color: #004085;
  margin-bottom: 5px;
}

.input-container input {
  margin-bottom: 5px;
}

.search-bar select {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-left: 10px;
}

.add-user {
  background-color: #004085;
  height: 40px;
  color: white;
  border: none;
  padding: 0px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.add-user:hover {
  background-color: #0056b3;
}

.users-table table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 1px;
  padding-top: 5px;
}

.users-table table th,
.users-table table td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.users-table table th {
  font-size: 14px;
  font-weight: bold;
  color : #004085;
  background-color: rgba(229, 244, 255, 1);
}

.users-table table td {
  font-size: 14px;
  color: #004085;
}

.status-icon {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-right: 8px;
}

.status-active {
  background-color: #28a745;
}

.status-inactive {
  background-color: #dc3545;
}

/* Pagination */
.pagination {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 20px;
}

.pagination button {
  padding: 10px 15px;
  margin: 0 5px;
  background-color: #f0f4f7;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.pagination button:hover {
  background-color: #e0e7ec;
}

.pagination .active-page {
  background-color: #004085;
  color: white;
}

.submit-btn {
  background-color: #002d72;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  width: 15%;
  margin-top: 10px;
}

.submit-btn:disabled {
  background-color: #aaa;
  cursor: not-allowed;
}

.submit-btn:hover:not(:disabled) {
  background-color: #004494;
}
